.aboutText{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutText h1{
    font-size: 40px;
    font-weight: 800;
    padding:10px;
    background-color: var(--card-orange);
    border: 1px solid orange;
    border-radius :5px;
    text-align: center;
    width: 50vw;
    margin-bottom: 20px;
}

.aboutText p {
    text-align: justify;
    width: 80vw;
}